@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');


body {
    margin: 0;
    height: 100vh;
    color: hsl(0, 0%, 85%);
    background: hsl(240, 17%, 6%);
    padding: 8px;
}



.addcont {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    border: #0002 6px solid;
    background: hsla(240, 21%, 65%, 0.067);
    overflow-y: auto;
}

.addcont .a1 {
    width: 100%;
    flex-direction: column;
    display: flex;
    padding-bottom: 140px;
}

.addcont .a1 .title {
    font-size: 1.25em;
    font-weight: bold;
}

.addcont .a2 {
    transform: translateX(-50%);
    max-width: 500px;
    left: 50%;
    padding: 18px 50px;
    bottom: 12px;
    justify-content: center;
    position: fixed;
    width: 100%;
    flex-direction: row;
    display: flex;
    gap: 0.5em;
}

.a2 a {
    width: 100%;
}

.a2 .complete {
    position: relative;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    background: hsl(var(--hue), 54%, 60%);
    border: none;
    color: hsl(120, 20%, 5%);
    font-size: 1.25em;
    cursor: pointer;
}

.removeLast {
    position: relative;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    background: hsl(var(--hue), 54%, 60%);
    border: none;
    color: hsl(120, 20%, 5%);
    font-size: 1em;
    cursor: pointer;
}

.a2 .exit {
    aspect-ratio: 1 / 1;
    padding: 0.5em;
    border-radius: 0.5em;
    background: none;
    border: none;
    height: 100%;
    color: var(--color85);
    font-size: 1.25em;
    cursor: pointer;
}


.addcont .a1 .podtitle {
    margin-top: 40px;
}

select {
    font-family: "Poppins";
    margin-top: 8px;
    padding: 0.5em;
    font-size: 1em;
    background: hsl(var(--hue), 24%, 60%);
    border: none;
    border-radius: 0.5em;
}

[type="range"] {
    accent-color: hsl(var(--hue), 24%, 60%);
}

[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    background: none;
    color: var(--color85);
    border: none;
    border-bottom: hsl(var(--hue), 24%, 60%) 3px solid;
    accent-color: hsl(var(--hue), 54%, 60%);
}

#list {
    width: 100%;
    list-style: none;
    max-width: 500px;
    padding: 0;
    margin: 0;
    margin-top: 0.7em;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#list .element {
    justify-content: start;
    display: flex;
    width: 100%;
    background: hsl(var(--hue), 20%, 20%);
    color: hsl(var(--hue),0%,80%);
    border-radius: 8px;
    padding: 0.4em;
    font-size: 1em;
}

#list .element i {
    color: hsl(var(--hue),0%,50%);
}

#list .element span {
    width: 100%;
}

.addcont2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.addcont2 input {
    width: 100%;
}

.addcont2 button {
    display: inline-flex;
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: calc(0.5em + 3px);
    border-radius: 0.5em;
    background: none;
    border: none;
    align-items: center;
    background: hsl(var(--hue), 54%, 60%);
    /* color: hsl(var(--hue), 100%, 80%); */
    color: hsl(270, 20%, 5%);
    font-size: 1.25em;
    cursor: pointer;   
}

.fa-solid {
    justify-content: center;
    display: flex;
    align-items: center;
}

.handle {
    box-sizing: border-box;
}

.containerInList {
    max-width:500px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-self: center;
}

.addNewTitle {
    margin-top: 1rem;
    margin-bottom: -20px;
    font-size: 1.2em;
    font-weight: bold;
}