@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

:root {
    font-size: 20px;
    --hue: 270;
    --color85: hsl(0, 0%, 85%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    height: 100vh;
    color: hsl(0, 0%, 85%);
    background: #0c0c11;
    padding: 18px;
}

.title {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

header {
    display: flex;
    width: 100%;
}

header button {
    font-size: 1em;
    border: none;
    aspect-ratio: 100/2;
    border-radius: 1em;
    background: none;
    cursor: pointer;
    user-select: none;
}

header .add {
    background: hsl(var(--hue), 54%, 60%);
}

header .reset {
    color: hsl(0,0%,60%);
    transition: 250ms;
}

header .reset:hover {
    color: hsl(0,20%,80%);
}

.set {
    gap: 20px;
    display: flex;
    flex-direction: row;
    padding: 8px;
    border: #0001 2px solid;
    border-radius: 5px;
    padding-left: 20px;
    border-left: hsl(var(--hue), 54%, 60%) 6px solid;
}

.color-def {
    border-left: hsl(var(--hue), 54%, 60%) 6px solid;
}

.color-1 {
    border-left: hsl(120, 54%, 60%) 6px solid;
}

.color-2 {
    border-left: hsl(220, 54%, 60%) 6px solid;
}


.color-3 {
    border-left: hsl(270, 54%, 60%) 6px solid;
}


.color-4 {
    border-left: hsl(40, 54%, 60%) 6px solid;
}

.color-5 {
    border-left: hsl(320, 54%, 60%) 6px solid;
}


.nocolor {
    border-left: hsl(0, 0%, 30%) 6px solid;
}

.set .value {
    font-weight: bold;
    color: hsl(0,0%,90%);
    min-width: 30px;
}


.set .name {
    color: hsl(0,0%,85%);
    min-width: 30px;
}

.no {
    color: hsl(0,0%,60%) !important;
}

main {
    padding-top: 18px;
    padding-bottom: 18px;
}

@media (max-width:400px) {
    body {
        font-size: 18px;
    }
}

@media (max-width:330px) {
    body {
        font-size: 16px;
    }
}